.register-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.register-form label {
    margin-top: 10px;
    font-weight: bold;
}

.register-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.register-btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.register-btn:hover {
    background-color: #555;
}

.password-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
}

.password-container input[id="password"] {
    width: 100%;
    padding-right: 70px; /* Make space for the button */
    box-sizing: border-box;
}

.password-container .js-toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust this value to fit your design */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff; /* Or any color you prefer */
    font-size: 16px; /* Adjust size if necessary */
    z-index: 1; /* Ensure the button is above the input */
}



/* Responsive Design */
@media (max-width: 600px) {
    .register-form {
        width: 95%;
        padding: 15px;
    }
}